<html>
    <head>
        <title>RECOMMENDATION</title>
        <link rel="stylesheet" href="disciplinary.css">
        <!--<script src="code1.js"></script>-->
        <style>
            *{
                margin:0%;
                padding:0%;
            }
        </style>
    </head>
    <body>
        <div class="back">
            <div class="header">
                <div class ="banner">    
                <div class="name">
                    <h1>SYNISTA</h1>
                </div>
            <div class="line">|</div>
            <div class="years">SELECT WHAT <br><span>BEST</span> FITS YOU</div>
            </div>
            </div>
        </div> 

        