<html>
    <head>
        <title>RECOMMENDATION FORM</title>
        <link rel="stylesheet" href="form.css">
        <!-- <script src="form.js"></script> -->
        <style>
          *{
              margin:0%;
              padding:0%;
            }
        </style>
    </head>
    <body>
      <div class="back">
        <div class="header">
            <div class ="banner">
                
                <div class="name">
                    <h1>SYNISTA</h1>
                </div>
                <div class="line">|</div>
                <div class="years">SELECT WHAT <br><span>BEST</span> FITS YOU</div>
            </div>
          </div>
        </div>
        <div class="back1">
          <div class="title">
          Please fill the form
        </div>
        <div class="container">
            <form id="form" name="abc" class="formrec" action="{url_for('View_R')}" method='post'>
                  
                  <!-- <p id="output"></p> -->
                  <p>Are you interested in Higher Studies:</p>
                  <input type="radio" id="hs" name="hs" value="1">
                  <label for="yes">YES</label><br>
                  <input type="radio" id="hs" name="hs" value="0">
                  <label for="no">NO</label><br>

                  <p required>Are you interested in Research:</p>
                  <input type="radio" id="rs" name="rs" value="1">
                  <label for="yes">YES</label><br>
                  <input type="radio" id="rs" name="rs" value="0">
                  <label for="no">NO</label><br>
                  <!-- <p id="ors"></p> -->
                  <br>

                  <p>Are you interested in GATE:</p>
                  <input type="radio" id="gt" name="gt" value="1">
                  <label for="yes">YES</label><br>
                  <input type="radio" id="gt" name="gt" value="0">
                  <label for="no">NO</label><br>
  
                  <p>Are you interested in GRE:</p>
                  <input type="radio" id="ge" name="ge" value="1">
                  <label for="yes">YES</label><br>
                  <input type="radio" id="ge" name="ge" value="0">
                  <label for="no">NO</label><br>

                  <br>
                  <p>Are you interested in Data Science:</p>
                  <input type="radio" id="ds" name="ds" value="1">
                  <label for="yes">YES</label><br>
                  <input type="radio" id="ds" name="ds" value="0">
                  <label for="no">NO</label><br>

                  <p>Are you interested in Artificial Intelligence:</p>
                  <input type="radio" id="ai" name="ai" value="1">
                  <label for="yes">YES</label><br>
                  <input type="radio" id="ai" name="ai" value="0">
                  <label for="no">NO</label><br>
                  <!-- <p id="oai"></p> -->
                  <br>
                  <p>Are you interested in Machine Learning:</p>
                  <input type="radio" id="ml" name="ml" value="1">
                  <label for="yes">YES</label><br>
                  <input type="radio" id="ml" name="ml" value="0">
                  <label for="no">NO</label><br>
                  <!-- <p id="oml"></p> -->
                  <br>
                  <p>Are you interested in Blockchain:</p>
                  <input type="radio" id="bc" name="bc" value="1">
                  <label for="yes">YES</label><br>
                  <input type="radio" id="bc" name="bc" value="0">
                  <label for="no">NO</label><br>
                  
                  <!-- <p id="ods"></p> -->
                  <br>
                  <p>Are you interested in Cryptography:</p>
                  <input type="radio" id="cr" name="cr" value="1">
                  <label for="yes">YES</label><br>
                  <input type="radio" id="cr" name="cr" value="0">
                  <label for="no">NO</label><br>
                  <!-- <p id="ocr"></p> -->
                  <!-- <p id="obc"></p> -->
                  <br>
                  <p>Are you interested in Internet Of Things:</p>
                  <input type="radio" id="iot" name="iot" value="1">
                  <label for="yes">YES</label><br>
                  <input type="radio" id="iot" name="iot" value="0">
                  <label for="no">NO</label><br>
                  <!-- <p id="oiot"></p> -->
                  <br>
                  <p>Are you interested in Image Analysis:</p>
                  <input type="radio" id="ia" name="ia" value="1">
                  <label for="yes">YES</label><br>
                  <input type="radio" id="ia" name="ia" value="0">
                  <label for="no">NO</label><br>

                  <p>Are you interested in Interdisdiplinary knowledge:</p>
                  <input type="radio" id="ik" name="ik" value="1">
                  <label for="yes">YES</label><br>
                  <input type="radio" id="ik" name="ik" value="0">
                  <label for="no">NO</label><br>
                  
                  <br>
                  <p>Are you interested only in Recent Technologies:</p>
                  <input type="radio" id="rt" name="rt" value="1">
                  <label for="yes">YES</label><br>
                  <input type="radio" id="rt" name="rt" value="0">
                  <label for="no">NO</label><br>
                
                  <br>
                  <p>Are you doing this course only to get job:</p>
                  <input type="radio" id="jb" name="jb" value="1">
                  <label for="yes">YES</label><br>
                  <input type="radio" id="jb" name="jb" value="0">
                  <label for="no">NO</label><br>

                  <br>
                  <p>Are you interested only in marks:</p>
                  <input type="radio" id="mk" name="mk" value="1">
                  <label for="yes">YES</label><br>
                  <input type="radio" id="mk" name="mk" value="0">
                  <label for="no">NO</label><br>



                  <!-- <p id="oia"></p> -->
                  <br>
                  <!-- <button>View_R</button>
                  <button>View_D</button> -->
                  <!-- <button onclick="getValue()">View_D</button> -->
                  
                  <button type ="submit"><a href="reading.html" target="_blank">View_R</a></button>
                  
                  <button type ="submit" ><a href="disciplinary.html" target="_blank">View_D</a></button>
            </form>
            <!-- <script type="text/javascript">
              function myfunc(event){
                //event.preventDefault();
                var nam=document.getElementById('fname').value;
                var q1= document.querySelector('input[name="hs"]:checked').value;
                var q2= document.querySelector('input[name="rs"]:checked').value;
                var q3= document.querySelector('input[name="gt"]:checked').value;
                var q4= document.querySelector('input[name="ge"]:checked').value;
                var q5= document.querySelector('input[name="ds"]:checked').value;
                var q6= document.querySelector('input[name="ai"]:checked').value;
                var q7= document.querySelector('input[name="ml"]:checked').value;
                var q8= document.querySelector('input[name="bc"]:checked').value;
                var q9= document.querySelector('input[name="cr"]:checked').value;
                var q10= document.querySelector('input[name="iot"]:checked').value;
                var q11= document.querySelector('input[name="ia"]:checked').value;
                var q12= document.querySelector('input[name="ik"]:checked').value;
                var q13= document.querySelector('input[name="rt"]:checked').value;
                var q14= document.querySelector('input[name="jb"]:checked').value;
                var q15= document.querySelector('input[name="mk"]:checked').value;
                // var q1=document.getElementById("rs").value;
                // var q2=document.getElementById("ai").value;
                // var q3=document.getElementById("ml").value;
                // var q4=document.getElementById("ds").value;
                // var q5=document.getElementById("cr").value;
                // var q6=document.getElementById("bc").value;
                // var q7=document.getElementById("iot").value;
                // var q8=document.getElementById("ia").value;

                // q1.checked ? rs="YES": rs="NO";
                // q2.checked ? ai="YES": ai="NO";
                // q3.checked ? ml="YES": ml="NO";
                // q4.checked ? ds="YES": ds="NO";
                // q5.checked ? cr="YES": cr="NO";
                // q6.checked ? bc="YES": bc="NO";
                // q7.checked ? iot="YES": iot="NO";
                // q8.checked ? ia="YES": ia="NO";
                localStorage.setItem('Is_fname',nam);
                localStorage.setItem('Is_hs', q1);
                localStorage.setItem('Is_rs', q2);
                localStorage.setItem('Is_gt', q3);
                localStorage.setItem('Is_ge', q4);
                localStorage.setItem('Is_ds', q5);
                localStorage.setItem('Is_ai', q6);
                localStorage.setItem('Is_ml', q7);
                localStorage.setItem('Is_bc', q8);
                localStorage.setItem('Is_cr', q9);
                localStorage.setItem('Is_iot', q10);
                localStorage.setItem('Is_ia', q11);
                localStorage.setItem('Is_ik', q12);
                localStorage.setItem('Is_rt', q13);
                localStorage.setItem('Is_jb', q14);
                localStorage.setItem('Is_mk', q15);
              }

              <button type ="submit" onclick="myfunc(event)" required><a href="reading.html" target="_blank">View_R</a></button>
                  
                  <button onclick="myfunc(event)"><a href="disciplinary.html" target="_blank">View_D</a></button>
                  
            </script> -->
          </div>
        </div>
    </body>
</html>



 <!--onclick="ans(event)"-->